<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>
<script src=""></script>
<body class="w3-blue">

<!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->
<!-- <div class="w3-bar w3-blue">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div> -->



<div class="w3-container w3-blue">
    <h1>Welcome to sleep tracker!</h1>
    <h2>Please log in!</h2>      

    <div class="w3-container w3-blue">
        <div class="w3-card-2 w3-grey w3-col m5 l5 w3-margin">

            <header class="w3-container w3-light-grey">
              <h3>Coach's login</h3>
            </header>
            
            <div class="w3-container">
              <p>Login or Register a team</p>
            </div>
            
            <a href="/coach_login" class="w3-button w3-black w3-margin">Log in</a>
            <a href="/team_register" class="w3-button w3-black w3-right w3-margin">Register Team</a>
            
        </div>
    
        <div class="w3-card-2 w3-grey w3-col m5 l5 w3-margin">
    
            <header class="w3-container w3-light-grey">
              <h3>Player Registration</h3>
            </header>
            
            <div class="w3-container">
              <p>Register as a player</p>
            </div>
            
            <a href="/player_registration" class='w3-button w3-black w3-margin'>Register</a>
        </div>
    </div>    
</div>


</body>
</html>

