<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>
<script src=""></script>
<body>

<!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->
<!-- <div class="w3-bar w3-blue">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div> -->



    <header class="w3-blue w3-container">
        <h1>Team Registration Congraulations your team is registered!</h1>
    </header>
  


</body>
</html> 